.row.border-bottom.white-bg
  %nav.navbar.navbar-static-top{:role => "navigation"}
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %i.fa.fa-reorder
      %a.navbar-brand{:href => root_path} Cryptomover
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.dropdown
          %a{"aria-expanded" => "false", :href => wallet_path, :role => "button"} Wallet
        - if session[:address].present?
          %li
            = link_to "Transactions", transactions_path, aria_expanded: "false", role: "button"
      - if session[:address].present?
        %ul.nav.navbar-top-links.navbar-right
          %li
            %a{:href => "/logout"}
              %i.fa.fa-sign-out
              Log out
