<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    </head>
    <body>
        <% if @federations.count == 0 %>
          <h3>
              No new registrations yesterday.
          </h3>
        <% else %>
          <h3>
              <%= @federations.count%> New Users Registered.
          </h3>
        <p>
            <b> List of Users</b>
            <br>
            ----------
            <% @federations.each do |federation| %>
                <%= federation.username%>
            <% end %>
        </p>
        <% end %>
    </body>
</html>
