<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    </head>
    <body>
        <h3>
            New User Registration.
        </h3>
        <p>
            New user with email id
            <%= @federation.username%>
            is registered today.
            <br>
            Please send him 2 XLMs
        </p>
    </body>
</html>
