.p
  List of Signer(s)
  %br
  Self: GDZP53LPGV4LGIZVTIPDIYL2N6VC6YYUBSJE66AZTNC77F6K2CN3K4OO
  %br
  Add/Remove Signer is a High Level Operation.
  %br
  Your High Threshold is:
  = @high
  %br
  Master Key Weight:
  = @master_weight
  .text-danger
    This operation needs to be signed by signer(s) with individual or combined weight of >=
    = @high
.form-inline.mt-1
  .form-check.form-check-inline
    %input#inlineCheckbox2.form-check-input{:type => "checkbox", :value => "do_not_submit"}/
    %label.form-check-label{:for => "inlineCheckbox2"} Do not submit, only create Transaction object.
.form-group.mt-1
  .form-label
    Your Secret Seed
  %input.form-control{id: "secret-seed", type: "password", placeholder: 'Enter your secret seed here'}
.form-group.mt-1
  .form-label
    New Signer Public Key
  %input.form-control{id: "signer-public-key", type: "text", placeholder: 'Enter new signer public key here'}
.form-group.mt-1
  .form-label
    New Signer Weight
  %input.form-control{id: "signer-weight", type: "number", placeholder: 'Enter new signer weight here'}
.fee-prompt.mb-2.mt-2.text-danger
  Stellar Network charges a transaction fee of 0.00001 XLM for each transaction
  .container-fluid
    .row
      .col-md-12.text-center
        #progressbar
          .progress-label
            Processing. Please Wait...
      .col-md-12
        .text-right
          %button{type: "button", class: "btn btn-brown", id: "submit-signer-btn"} Submit
          %button{type: "button", class: "btn btn-brown", id: "change-transaction-btn"} Create Transaction
