.get-token.center-block
  .text-center
    %h4
      Choose Which Tokens to Trade
      %table.center-table.text-center
        %tr
          %th.text-right
            Deposit
          %th
          %th.text-left
            Receive
        %tr
          %td.text-right
            = image_tag "bitcoin_wix"
          %td.text-center.col-md-2
            = image_tag "noun_947250_cc"
          %td.text-left
            = image_tag "cm3_logo_1"
  .text-center.m-top-30
    .btn.btn-get-token{href: "https://google.com", target: "_blank"} Submit
