.form-group
  .form-group
    .form-label
      Recipients Public Key
    %input.form-control{id: "target-account", name: "address", placeholder: "Recipient's public key or address", required: true, type: "text"}
  - if @balances.present?
    .form-label
      Asset Type
      = select_tag :asset_name, options_for_select(@assets, selected: "Lumens"), class: "form-control", id: "asset-type"
      .text-muted.mt-1
        Available Balance:
        %span#available-balance
          Fetching...
  .form-group
    .form-label
      Amount
    %input.form-control{id: "amount-to-send", name: "amount", placeholder: "Amount to Transfer", required: true, type: "number"}
  .form-group
    .form-label
      Type your Secret Key
    %input.form-control{id: "secret-seed", type: "password", placeholder: "Your Secret Key", required: true, value: session[:seed]}
  Memo Type
  .form-check.form-check-inline
    %label.radio-inline
      %input.form-check-input{type: "radio", name: "memotype", value: "text"} TEXT
    %label.radio-inline
      %input.form-check-input{type: "radio", name: "memotype", value: "id"} ID
    %label.radio-inline
      %input.form-check-input{type: "radio", name: "memotype", value: "hash"} HASH
    %label.radio-inline
      %input.form-check-input{type: "radio", name: "memotype", value: "return"} RETURN
  .form-group
    .form-label
      Memo
    %input.form-control{id: "memo", type: "text", placeholder: "Type Memo", disabled: true}
  .form-check
    %label.form-check-label
      %input.form-check-input{type: "checkbox", name: "fund-new", value: "fund-new", id: "fund-new-chk"}  Fund New Account
  .fee-prompt.mb-2.mt-2
    Stellar Network charges a transaction fee of 0.00001 XLM for each transaction
  .container-fluid
    .row
      .col-md-12.text-center
        #progressbar
          .progress-label
            Processing. Please Wait...
      .col-md-12
        .text-right
          %button{type: "button", class: "btn btn-danger", id: "send_money"} Send Money
          = link_to "Cancel", root_path, class: "btn btn-brown", id: "cancel-btn"
