.form-group
  .form-group
    .form-label
      Recipients Public Key
    %input.form-control{id: "target-account", name: "address", placeholder: "Recipient's public key or address", required: true, type: "text"}/
  .form-group
    .form-label
      From Account
    %input.form-control{name: "from_address", type: "text", disabled: true, value: session[:address]}
  - if @balances.present?
    .form-label
      Asset Type
    = select_tag :asset_name, options_for_select(@assets, selected: "Lumens"), class: "form-control", id: "asset-type"
  .form-group
    .form-label
      Amount
    %input.form-control{id: "amount-to-send", name: "amount", placeholder: "Amount to Transfer", required: true, type: "number"}
  .form-group
    .form-label
      Type your Secret Key
    %input.form-control{id: "secret-seed", type: "password", placeholder: "Your Secret Key", required: true}
  .container-fluid
    .row
      .col.text-center
        #progressbar
          .progress-label
            Processing. Please Wait...
      .col
        .text-right
          %button{type: "button", class: "btn btn-danger", id: "send_money"} Send Money
          = link_to "Cancel", root_path, class: "btn btn-primary", id: "cancel-btn"
