#success-card
  .card
    .card-header
      .success
        %h1 Please Wait!
    .card-body.text-center
      Fetching or updation of latest balance is in progress.
      %br
      Please try after some time.
