-# LICENSE
-#
-# MIT License
-#
-# Copyright (c) 2017-2018 Cryptomover
-#
-# Permission is hereby granted, free of charge, to any person obtaining a copy
-# of this software and associated documentation files (the "Software"), to deal
-# in the Software without restriction, including without limitation the rights to
-# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
-# of the Software, and to permit persons to whom the Software is furnished to do
-# so, subject to the following conditions:
-#
-# The above copyright notice and this permission notice shall be included in all
-# copies or substantial portions of the Software.
-#
-# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
-# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
-# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
-# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
-# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
-# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
-# THE SOFTWARE.
-#
#help-card
  .card
    .card-header
      %h1
        Wallet Help
    .card-body
      = link_to "Back", root_path
      %h2
        How to use Cryptomover Stellar Wallet?
      %hr
      %h5
        %u
          Security
      %big
        %p
          We do not store your Secret Seed anywhere. You will have to type it each time you want to do a transaction which requires a Secret Seed.
      %h5
        %u
          Create New Account
      %big
        %ul
          %li
            This creates a New Stellar Account on Stellar Public Network.
          %li
            Read all instructions carefully before proceeding.
          %li
            Use Show button to see your Secret Seed. Keep it secured and private.
          %li
            DO NOT lose the Secret Seed.
      %h5
        %u
          Portfolio
      %big
        %ul
          %li
            After you login using your Public Stellar Key, you will be redirected to Portfolio page.
          %li
            Portfolio page will automatically fetch your balance. Wait for it to load.
          %li
            Use Copy button to copy your public address to your Clipboard.
          %li
            Portfolio page shows four columns, Coin, Issuer, Balance and its total USD value.
          %li
            Clicking on Issuer address will expand it to show full address.
      %h5
        %u
          Send
      %big
        %ul
          %li
            Use this page to transfer assets from your account to other accounts as well as to activate new accounts.
          %li
            All values are compulsory.
          %li
            Memo value should follow size and format rules of its type as described here:
            = link_to "https://www.stellar.org/developers/guides/concepts/transactions.html#memo", "https://www.stellar.org/developers/guides/concepts/transactions.html#memo", target: "_blank"
          %li
            Select
            %b
              Fund New Account
            checkbox if you want to activate new account.
      %h5
        %u
          Transactions
      %big
        %ul
          %li
            This page lists all your transaction history.
          %li
            Amount is in respective asset unit.
      %h5
        %u
          Assets
      %big
        %ul
          %li
            Use this page to trust new assets so that you can send and receive them.
          %li
            All fields are compulsory.
          %li
            Use Browse assets to search for assets.
      %h5
        %u
          Multisignature
      %big
        %ul
          %li
            Multisignature option is present on Send Asset, Trust asset, Sign Transaction and Advanced Settings page.
          %li
            To create a multisignature transaction object use
            %b
              Create Transaction
            button on respective page.
          %li
            You can optionally choose to not sign this transaction object.
          %li
            Share this object with intended partners for them to sign and submit to network.
      %h5
        %u
          Advanced Settings
      %big
        %ul
          %li
            Use Advanced Settings page to change treshold levels and add/remove signers as well as change signers weight.
          %li
            To delete existing signer, add it with weight zero.
          %li
            You can change threshold only if you have already added signers with enough weight.
      %p.text-center.text-muted
        Credit: Rocket Background Logo from
        = link_to "The Noun Project", "https://www.thenounproject.com", target: "_blank"
