
<div class="passwordBox animated fadeInDown">
    <div class="row">

        <div class="col-md-12">

            <div class="ibox">

                <div class="ibox-title">
                    <h5>Stellar Account</h5>
                </div>

                <div class="ibox-content">

                    <h3>
                        Following is your newly generated stellar account
                    </h3>


                    <div class="row">
                      <div class="col-lg-12">
                          <div class="feed-activity-list">
                              <div class="feed-element">
                                  <div class="media-body ">
                                      <strong>This is your public stellar address
</strong> <br>
                                      1F1tfssfzbjef5zTbwbawdfsbX
                                  </div>
                              </div>
                              <div class="feed-element">
                                  <div class="media-body ">
                                      <strong>This is your secret stellar seed
</strong> <br>
                                      1F1tfssfzbjef5zTbwbawdfsbX
                                  </div>
                              </div>
                          </div>

                          <p>
                            The seed is extremely important and will not be retrieved upon lost. Cryptomover will not hold your seed.

                          </p>
                      </div>
                    </div>

            </div>
        </div>
    </div>
    <hr />
</div>
