<div class="wrapper wrapper-content">
    <div class="container">

        <div class="row">        
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <!-- <span class="label label-warning pull-right">Data has changed</span> -->
                        <h5>Portfolio Exposure</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Allcoin </th>
                                    <th>Weight </th>
                                    <th>Exposure </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>BTC</td>
                                    <td>300.0</td>
                                    <td>66%</td>
                                </tr>
                                <tr>
                                    <td>ETH</td>
                                    <td>50.0</td>
                                    <td>11%</td>
                                </tr>
                                <tr>
                                    <td>LTC</td>
                                    <td>100.0</td>
                                    <td>22%</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
