
<div class="passwordBox animated fadeInDown">
    <div class="row">

        <div class="col-md-12">

            <div class="ibox">

                <div class="ibox-title">
                    <h5>Stellar Account</h5>
                </div>

                <div class="ibox-content">

                    <h3>
                        Following is your newly generated stellar account, please save the info,
                        <strong>The seed is extremely important and will not be retrieved upon lost. Cryptomover will not hold your seed.</strong>
                    </h3>


                    <div class="row">
                      <div class="col-lg-12">


                          <div class="feed-activity-list">
                              <div class="feed-element">
                                  <div class="media-body ">
                                      <span>This is your public stellar address</span><br>
                                      <h3><%= @address %></h3>
                                  </div>
                              </div>
                              <div class="feed-element">
                                  <div class="media-body ">
                                      <span>This is your secret stellar seed</span><br>
                                      <h3><%= @seed %></h3>
                                  </div>
                              </div>
                          </div>

                          <div class="alert alert-info">
                            This account doesn't exist on the network. To create this account, send it at least 20 lumens (XLM) to fulfill the <a href="https://www.stellar.org/developers/guides/concepts/fees.html#minimum-balance">minimum balance</a>. <br/>
                            Or you can <a href="/stellar_subscribe">click here to subscribe</a> our news, and we will send you 20 lumens.
                          </div>
                      </div>
                    </div>

            </div>
        </div>
    </div>
    <hr />
</div>
