<div class="passwordBox animated fadeInDown">
    <div class="row">

        <div class="col-md-12">
          <div class="ibox">
            <div class="ibox-content">

                <h2 class="font-bold">Subscribe</h2>

                <p>
                    GET LATEST NEWS, REVIEWS, UPDATES AND MUCH MORE
                </p>

                <div class="row">

                    <div class="col-lg-12">

                        <%= form_tag "//cryptomover.us16.list-manage.com/subscribe/post?u=358f5d038979544b50b005ce4&id=413d687b80", target: "_blank", name: "mc-embedded-subscribe-form", id: "subscribe_form" do %>
                          <div class="form-group">
                              <input type="email" class="form-control" placeholder="Email" name="EMAIL" value="">
                              <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                <input name="b_358f5d038979544b50b005ce4_413d687b80" tabindex="-1" type="text" value="">
                              </div>
                          </div>

                          <button type="submit" class="btn btn-primary block full-width m-b">Subscribe</button>

                          <p><a class="btn btn-sm btn-white btn-block" href="/stellar_account">Back</a></p>
                        <% end %>

                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
