
<div class="passwordBox animated fadeInDown">
    <div class="row">

        <div class="col-md-12">
            
            <div class="ibox">
            
                <div class="ibox-title">
                    <h5>Trade</h5>
                </div>          
          
                <div class="ibox-content">

                    <p>
                        Choose which Tokens to trade
                    </p>

                    <div class="row">                
                        <div class="col-lg-12">
                            <form class="m-t" role="form" action="#">                                                    
                                <div class="row" style="text-align:center;">
                                    <div class="col-xs-5">                                                                               <div id="depositCoin">
                                        <p><strong>Deposit</strong></p>                           
                                        <p class="deposit-img">
                                          <a href="#" data-toggle="modal" data-target="#myModal"><img src="/assets/bitcoin.png" style="width:50px;"></a>
                                        </p>
                                        <p class="deposit-name"><strong>BTC</strong></p>
                                      </div>    
                                    </div>
                                    <div class="col-xs-2">
                                        <br/>                                       
                                        <span class="" style="font-size:50px;"><i class="fa fa-arrows-h"></i></span>
                                    </div>
                                    <div class="col-xs-5">
                                      <!-- <span class="label label-info b-r-xl" style="font-size:40px;border-radius:40px;padding:6px 22px;">CM3</span>     -->                     
                                      <div id="receiveCoin">
                                        <p><strong>Receive</strong></p>                           
                                        <p class="receive-img">
                                            <a href="#" data-toggle="modal" data-target="#myModal2"><img src="/assets/cm3_logo_1.png"></a>
                                        </p>
                                        <p class="receive-name"><strong>CM3</strong></p>
                                      </div>                                                         
                                    </div>
                                </div>   
                                
                                <br/> 

                                <button type="submit" class="btn btn-primary block full-width m-b">Submit</button>

                            </form>
                        </div>
                        
                    </div>
                
            </div>
        </div>
    </div>
    <hr />
    <!-- <div class="row">
        <div class="col-md-6">
            Copyright Example Company
        </div>
        <div class="col-md-6 text-right">
            <small>© 2014-2015</small>
        </div>
    </div> -->
</div>



<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
<div class="modal-dialog">
<div class="modal-content animated bounceInRight">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <i class="fa fa-btc modal-icon"></i>
            <h4 class="modal-title">Select Coin</h4>
            <small class="font-bold">select the coin you want to deposit</small>
        </div>
        <div class="modal-body">
          <div class="form-group">
             <div class="row" style="text-align:center;">
                 <div class="col-xs-4">
                     <p><strong>BTC</strong></p>
                     <div>
                       <a href="#" data-name="BTC" data-src="/assets/bitcoin.png"><img src="/assets/bitcoin.png"></a>
                     </div>
                 </div>
                 <div class="col-xs-4">
                     <p><strong>ETH</strong></p>
                     <div>
                       <a href="#" data-name="ETH" data-src="/assets/ether.png"><img src="/assets/ether.png"></a>
                     </div>
                 </div>
                 <div class="col-xs-4">
                     <p><strong>TNG</strong></p>
                     <div>
                       <a href="#" data-name="TNG" data-src="/assets/bitcoin.png"><img src="/assets/bitcoin.png"></a>
                     </div>
                 </div>
             </div>
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
    </div>
</div>
</div>


<div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
<div class="modal-dialog">
<div class="modal-content animated bounceInRight">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <i class="fa fa-btc modal-icon"></i>
            <h4 class="modal-title">Select Coin</h4>
            <small class="font-bold">select the coin you want to receive</small>
        </div>
        <div class="modal-body">
          <div class="form-group">
             <div class="row" style="text-align:center;">
                 <div class="col-xs-4">
                     <p><strong>CM3</strong></p>
                     <div>
                       <a href="#" data-name="CM3" data-src="/assets/cm3_logo_1.png"><img src="/assets/cm3_logo_1.png"></a>
                     </div>
                 </div>
                 <div class="col-xs-4">
                     <p><strong>CM10</strong></p>
                     <div>
                       <a href="#" data-name="CM10" data-src="/assets/cm3_logo_1.png"><img src="/assets/cm3_logo_1.png"></a>
                     </div>
                 </div>
                 <div class="col-xs-4">
                     <p><strong>CME</strong></p>
                     <div>
                       <a href="#" data-name="CME" data-src="/assets/cm3_logo_1.png"><img src="/assets/cm3_logo_1.png"></a>
                     </div>
                 </div>
             </div>
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
    </div>
</div>
</div>


<% content_for :javascript do %>

<script type="text/javascript">

$("#myModal .modal-body a").on('click', function(){
  $("#depositCoin .deposit-name").text($(this).data('name'));
  $("#depositCoin .deposit-img img").attr('src', $(this).data('src'));  
  $('#myModal').modal('hide');
})

$("#myModal2 .modal-body a").on('click', function(){
  $("#receiveCoin .receive-name").text($(this).data('name'));
  $("#receiveCoin .receive-img img").attr('src', $(this).data('src'));    
  $('#myModal2').modal('hide');
})

</script>

<% end %>