
<div class="passwordBox animated fadeInDown">
    <div class="row">

        <div class="col-md-12">
            
            <div class="ibox">
            
                <div class="ibox-title">
                    <h5>Trade</h5>
                </div>          
          
                <div class="ibox-content">

                    <p>
                        Choose which Tokens to trade
                    </p>

                    <div class="row">                
                        <div class="col-lg-12">
                            <form class="m-t" role="form" action="#">                                                    
                                <div class="row" style="text-align:center;">
                                    <div class="col-xs-5">
                                      <!-- <span class="label label-warning b-r-xl" style="font-size:50px;border-radius:40px;padding:6px 22px;"><i class="fa fa-btc"></i></span> -->
                                      <img src="/assets/bitcoin_wix.png">
                                    </div>
                                    <div class="col-xs-2">
                                      <span class="" style="font-size:50px;"><i class="fa fa-arrows-h"></i></span>
                                    </div>
                                    <div class="col-xs-5">
                                      <!-- <span class="label label-info b-r-xl" style="font-size:40px;border-radius:40px;padding:6px 22px;">CM3</span>     -->                                                            <img src="/assets/cm3_logo.png">   
                                    </div>
                                </div>    

                                <button type="submit" class="btn btn-primary block full-width m-b">Submit</button>

                            </form>
                        </div>
                        
                    </div>
                
            </div>
        </div>
    </div>
    <hr />
    <!-- <div class="row">
        <div class="col-md-6">
            Copyright Example Company
        </div>
        <div class="col-md-6 text-right">
            <small>© 2014-2015</small>
        </div>
    </div> -->
</div>




<% content_for :javascript do %>

<script type="text/javascript">



</script>

<% end %>