
<div class="passwordBox animated fadeInDown">
    <div class="row">

        <div class="col-md-12">
            
            <div class="ibox">
            
                <div class="ibox-title">
                    <h5>Trade</h5>
                </div>          
          
                <div class="ibox-content">

                    <h3>
                        Order ID:131241231241
                        <button class="pull-right">Bookmark</button>
                    </h3>

                    <div class="row">                
                        <div class="col-lg-12">
                            <div class="row">
                              <div class="col-lg-12 well m-t">
                                <div class="col-xs-4">
                                    <div>
                                      <img  class="img-responsive" src="/assets/address.png">
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <p><strong>Send BTC to this address</strong></p>
                                    <p>1F1tfssfzbjef5zTbwbawdfsbX</p>
                                    <p>Send upto 0.150000 BTC to this address</p>
                                </div>  
                              </div>                                                                                            </div>  
                             
                             <div class="row">
                                <div class="col-xs-12">                               
                                   <div>
                                       <span>Deposit Received</span>
                                       <small class="pull-right">Transaction Complete</small>
                                   </div>
                                   <div class="progress progress-small">
                                       <div style="width: 60%;" class="progress-bar"></div>
                                   </div>
                                </div>   
                             </div>   
                          
                        </div>                        
                    </div>
                                        
                    <div class="row">
                      <div class="col-lg-12">
                          <h3>Order Details</h3>
                          <div class=""feed-activity-list>
                              <div class="feed-element">
                                  <a href="profile.html" class="pull-left">
                                      <img alt="image" class="img-circle" src="/assets/bitcoin_wix.png">
                                  </a>
                                  <div class="media-body ">
                                      <strong>Deposit Received: 0.010000 BTC</strong> <br>
                                      1F1tfssfzbjef5zTbwbawdfsbX
                                  </div>
                              </div>
                              <div class="feed-element">
                                  <a href="profile.html" class="pull-left">
                                      <img alt="image" class="img-circle" src="/assets/cm3_logo_1.png">
                                  </a>
                                  <div class="media-body ">
                                      <strong>Receive</strong> <br>
                                      1F1tfssfzbjef5zTbwbawdfsbX
                                  </div>
                              </div>
                          </div>
                          
                          <table class="table invoice-total">
                              <tbody>
                              <tr>
                                  <td style="text-align:left;"><strong>Current Rate :</strong></td>
                                  <td style="width:50%;">1 CM3 TKN = 0.424231 BTC</td>
                              </tr>
                              <tr>
                                  <td style="text-align:left;"><strong>Payment Type :</strong></td>
                                  <td style="width:50%;">Via Bitcoin</td>
                              </tr>
                              </tbody>
                          </table>
                          
                      </div>
                    </div>
                
            </div>
        </div>
    </div>
    <hr />
</div>




<% content_for :javascript do %>

<script type="text/javascript">



</script>

<% end %>





<!--   

 -->
