#login-card
  .card
    .card-header
      %h1
        Trezor Login
    .card-body
      %ol
        %li
          Trezor Hardware wallet generates the secret seed of your Stellar Account.
        %li
          Create a secure password below in 'Key' Input box, and keep it safe do not lose it.
        %li
          Each path holds a single asset for example Stellar or Bitcoin or Ethereum etc.
        %li
          A unique key and a unique Bip32 path makes a unique Stellar account.

      %p.text-muted.text-center
        Now you can use Trezor to store your XLM and Cryptomover supported tokens.
        -# The key is set by the customer as any string. A unique key and a unique Bip32 path specify a unique stellar account.
      #result.text-center.alert.alert-danger
      %form.m-t.text-center{:role => "form"}
        .form-group
          %label Path:
          %input#path{value: "m/49'/10'/0'"}/
        .form-group
          %label Key:
          %input#key{placeholder: "Type your Key Here", type: "password"}/
        .text-center#trezor-btn
          -# %a.btn.btn-brown{:onclick => "trezorCipherKeyValue();return false;"} Login with Trezor
          %button.btn.btn-brown{onclick: "trezorCipherKeyValue()"} Login With Trezor
      //%button.btn.btn-brown.block.full-width.m-b{:type => "submit", disabled: true} Trezor Support Coming Soon
      -# .text-center
      -#   %button.btn.btn-brown.block.full-width.m-b{:type => "submit", disabled: true} Trezor Support Coming Soon

      %p
        %small.text-muted
          As per Trezor requirement, to use Trezor you need one of the Trezor Transport Layer installed. Install any one of the following:
          %br
          https://github.com/trezor/trezor-chrome-extension OR https://github.com/trezor/trezord-go
    #login-footer.card-footer.text-center
      = link_to "https://medium.com/cryptomover", target: "_blank" do
        %i.fab.fa-medium.fa-3x
      = link_to "https://t.me/cryptomover", target: "_blank" do
        %i.fab.fa-telegram.fa-3x
      = link_to "https://twitter.com/cryptomover", target: "_blank" do
        %i.fab.fa-twitter.fa-3x
      = link_to "https://github.com/cryptomover-code/stellar-rails", target: "_blank" do
        %i.fab.fa-github.fa-3x


          
%script{:src => "https://connect.trezor.io/4/connect.js"}

:javascript  
  function trezorCipherKeyValue() {
    var path = document.getElementById("path").value;
    var key = document.getElementById("key").value;
    var value = 'fb00d59cd37c56d64ce6eba73af7a0aacdd25e06d18f98af16fc4a7b341b7136';
    console.log(path)
    console.log(key)
            
    var encrypt = true;
    var ask_on_encrypt = false;
    var ask_on_decrypt = false;
            
    var resultEl = document.getElementById("result");
            
    TrezorConnect.closeAfterFailure(false);
    TrezorConnect.cipherKeyValue(path, key, value, encrypt, ask_on_encrypt, ask_on_decrypt, function (response) {
      if (response.success) {
        $(resultEl).hide()
        console.log(response)
        //resultEl.innerHTML = response.value;
        // $('#login_seed').val(response.value);
        // $('#login_tab').val('true');
        // $('#login_form').submit();
        document.location.href = '/trezor_wallet?value=' + response.value
      } else {
        console.log(response)
        // resultEl.innerHTML = "";
        $(resultEl).show()
        resultEl.appendChild(document.createTextNode("Error: " + response.error));
      }
      // console.log(response)
      // document.getElementById("response").innerHTML = JSON.stringify(response, undefined, 2);
    });
  }
