#browse-assets-card
  .card
    .card-header
      %h1 Assets List
    .card-body
      #assets-nav
        .prev
          %button{class: "btn btn-brown", id: "prev-btn", "data-prev": session[:prev_asset_cursor]} << Prev
        .first
          %button{class: "btn btn-brown", id: "first-btn"} First
        .last
          %button{class: "btn btn-brown", id: "last-btn"} Last
        .next
          %button{class: "btn btn-brown", id: "next-btn", "data-next": session[:next_asset_cursor]} Next >>

      %table.table.table-striped.table-responsive
        %thead
          %tr
            %th Asset Code
            %th Asset Type
            %th Asset Issuer
            %th Action
            %th TOML URL
        %tbody
          - @assets.each do |asset|
          - asset_code = asset['asset_code']
          - asset_type = asset['asset_type']
          - asset_issuer = asset['asset_issuer']
          - url = asset['_links']['toml']['href']
            %tr
              %td
                = asset_code
              %td
                = asset_type
              %td
                = asset_issuer
              %td
                %button{class: "btn btn-brown trust-btn", "data-asset-code": asset_code, "data-asset-issuer": asset_issuer} Trust
              %td
                = url

:javascript
  $(".trust-btn").click(function() {
    var asset_code = $(this).data("asset-code")
    var asset_issuer = $(this).data("asset-issuer")
    document.location.href = '/trust_asset?asset_code='+asset_code+'&asset_issuer='+asset_issuer
  })
  
  $("#next-btn").click(function() {
    console.log("next...")
    var cursor = $(this).data("next")
    document.location.href = '/assets?cursor='+ cursor
  })
  $("#prev-btn").click(function() {
    console.log("prev...")
    var cursor = $(this).data("prev")
    document.location.href = '/assets?order=asc&cursor='+ cursor
  })
  $('#first-btn').click(function() {
    document.location.href = '/assets'
  })
  $('#last-btn').click(function() {
    document.location.href = '/assets?order=asc'
  })
