.alert.alert-danger.text-center
  %b
    %big
      INACTIVE ACCOUNT.
  %br
  = session[:address]
  
  .inactive-prompt
    Send Minimum 1 XLM to this address to Activate it.
    %br
    Contact support at cryptomover dot com for help.
