-# LICENSE
-#
-# MIT License
-#
-# Copyright (c) 2017-2018 Cryptomover
-#
-# Permission is hereby granted, free of charge, to any person obtaining a copy
-# of this software and associated documentation files (the "Software"), to deal
-# in the Software without restriction, including without limitation the rights to
-# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
-# of the Software, and to permit persons to whom the Software is furnished to do
-# so, subject to the following conditions:
-#
-# The above copyright notice and this permission notice shall be included in all
-# copies or substantial portions of the Software.
-#
-# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
-# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
-# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
-# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
-# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
-# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
-# THE SOFTWARE.
-#
.alert.alert-danger.text-center.mb-0
  %big
    INACTIVE ACCOUNT.
  %br
  .address
    = session[:address]
.inactive-prompt.alert.alert-info.text-center
  Send Minimum
  %b
    1 XLM
  to this address,
  %br
  from another active
  %b
    Stellar Account
  %br
  OR
  %br
  from
  %b
    Exchange
  to Activate it.
  %br
  %br
  = link_to "Go To Wallet", portfolio_path, class: "btn btn-brown"
  = link_to "Log Out", logout_path, class: "btn btn-warning"
  -# %br
  -# Contact support [at] cryptomover dot com for help.
