.card#portfolio-card
  .card-header
    / <span class="label label-warning pull-right">Data has changed</span>
    %h1 Portfolio Exposure
  .card-body
    .row
      .col-md-12.col-lg-11
        Your Address:
        .address#source-public-key
          = session[:address]
      .col-md-12.col-lg-1
        %button{type: "button", class: "btn btn-info", "data-clipboard-target": ".address", id: "copy_address"} Copy
    %br
    #progressbar.progress{style: "height: 0px;"}
      .progress-bar.progress-bar-striped.progress-bar-animated{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "100", :role => "progressbar", :style => "width: 100%"}

    .table-responsive
      %table#balances-tbl.table.table-striped.table-sm
        %thead
          %tr
            %th Icon
            %th Coin
            %th Issuer
            %th Balance
            %th USD Value
        %tbody

%script{src: "https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"}

:javascript
  new Clipboard('#copy_address')
  
  $(document).ready(function(ev){
    console.log("callling ajax")
    $.ajax({
      url: "/get_balances",
    }).done(function(balances) {
      if (balances == 404) {
        document.location.href = "/inactive_account"
      } else {
        //$("#progressbar").hide()
        var row = ""
        console.log("removing tbody")
        $("#balances-tbl tbody").remove()

        console.log(balances[0]["asset_type"])
        if(balances.length == 1) {
          console.log("zero")
          row = $("<tr><td><i class='fas fa-usd'></td><td>Lumens</td><td>--</td><td>"+balances[0]["balance"]+"</td><td>"+balances[0]["usd_price"]+"</td></tr>")
          $("#balances-tbl").append(row)
        } else {
          for(i=0;i < balances.length;i++) {
            console.log(i)
            if (balances[i]["asset_type"] == "native") {
              row = $("<tr><td><i class='fas fa-usd'></td><td>Lumens</td><td>--</td><td>"+balances[i]["balance"]+"</td><td>"+balances[i]["usd_price"]+"</td></tr>")
            } else {
              row = $("<tr><td><i class='fas fa-usd'></td><td>"+balances[i]["asset_code"]+"</td><td>"+balances[i]["asset_issuer"]+"</td><td>"+balances[i]["balance"]+"</td><td>"+balances[i]["usd_price"]+"</td></tr>")
            }
            $("#balances-tbl").append(row)
          }
        }
      }
    })
  })
