.card#portfolio-card
  .card-header
    %h1 Portfolio Exposure
  .card-body
    .row
      .col-md-12.col-lg-11
        Your Address:
        .address#source-public-key
          = session[:address]
      .col-md-12.col-lg-1
        %button{type: "button", class: "btn btn-info", "data-clipboard-target": ".address", id: "copy_address"} Copy
    %br
    #progressbar
      .progress-label
        Fetching Data. Please Wait...

    .table-responsive
      %table#balances-tbl.table.table-striped
        %thead
          %tr
            -# %th Icon
            %th Coin
            %th Issuer
            %th Balance
            %th USD Value
        %tbody

%script{src: "https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"}

:javascript
  progressbar()
  
  new Clipboard('#copy_address')

  $("#balances-tbl").on("click", ".short-address", function() {
    $(this).css("maxWidth", "100%")
  })
  
  $.ajax({
    url: "/get_balances",
  }).done(function(balances) {
    if (balances == 404) {
      document.location.href = "/inactive_account"
    } else {
      $("#progressbar").hide()
      var row = ""
      $("#balances-tbl tbody").remove()

      if(balances.length == 1) {
        row = $("<tr><td>Lumens</td><td>--</td><td>"+balances[0]["balance"]+"</td><td>"+balances[0]["usd_price"]+"</td></tr>")
        $("#balances-tbl").append(row)
      } else {
        for(i=0;i < balances.length;i++) {
          if (balances[i]["asset_type"] == "native") {
            row = $("<tr><td>Lumens</td><td>--</td><td>"+balances[i]["balance"]+"</td><td>"+balances[i]["usd_price"]+"</td></tr>")
          } else {
            row = $("<tr><td>"+balances[i]["asset_code"]+"</td><td class='short-address'>"+balances[i]["asset_issuer"]+"</td><td>"+balances[i]["balance"]+"</td><td>"+balances[i]["usd_price"]+"</td></tr>")
          }
          $("#balances-tbl").append(row)
        }
      }
    }
  })
