.row
  .col-lg-12
    .ibox.float-e-margins
      .ibox-title
        / <span class="label label-warning pull-right">Data has changed</span>
        %h5 Portfolio Exposure
      .ibox-content
        .row
          .col-md-12.col-lg-11
            Your Address:
            .address#source-public-key
              = session[:address]
          .col-md-12.col-lg-1
            %button{type: "button", class: "btn btn-info", "data-clipboard-target": ".address", id: "copy_address"} Copy
        %br
        #progressbar
          .progress-label
            Fetching Data from API. Please Wait...
        .table-responsive.balance-table
          %table#balances-tbl.table.table-striped
            %thead
              %tr
                %th 
                %th Coin
                %th Issuer
                %th Balance
                %th USD Value
            %tbody
              -# - @balances.each do |balance|
              -#   %tr
              -#     %td
              -#       %i.fas.fa-usd
              -#     %td
              -#       = balance["asset_code"] || "Lumens"
              -#     %td
              -#       = balance["asset_issuer"]
              -#     %td
              -#       = balance["balance"]
              -#     %td
              -#       = balance["usd_price"]

%script{src: "https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"}

:javascript
  new Clipboard('#copy_address')
  progressbar()
  $.ajax({
    url: "/get_balances",
  }).done(function(balances) {
    if (balances == 404) {
      console.log("redirecting...")
      document.location.href = "/inactive_account"
    } else {
      $("#progressbar").hide()
      var row = ""
      $.each(balances, function(index, balance) {
        if (balance["asset_type"] == "native") {
          row = $("<tr><td><i class='fas fa-usd'></td><td>Lumens</td><td>--</td><td>"+balance["balance"]+"</td><td>"+balance["usd_price"]+"</td></tr>")
        } else {
          row = $("<tr><td><i class='fas fa-usd'></td><td>"+balance["asset_code"]+"</td><td>"+balance["asset_issuer"]+"</td><td>"+balance["balance"]+"</td><td>"+balance["usd_price"]+"</td></tr>")
        }
        $("#balances-tbl").append(row)
      })
    }
  })
