-# LICENSE
-#
-# MIT License
-#
-# Copyright (c) 2017-2018 Cryptomover
-#
-# Permission is hereby granted, free of charge, to any person obtaining a copy
-# of this software and associated documentation files (the "Software"), to deal
-# in the Software without restriction, including without limitation the rights to
-# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
-# of the Software, and to permit persons to whom the Software is furnished to do
-# so, subject to the following conditions:
-#
-# The above copyright notice and this permission notice shall be included in all
-# copies or substantial portions of the Software.
-#
-# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
-# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
-# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
-# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
-# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
-# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
-# THE SOFTWARE.
-#
.card#sign-transaction-card{"data-address": @address.to_json}
  .card-header
    %h1 Sign Transaction
  .card-body
    .alert.alert-warning.mb-1.d-block
      %b
        Multignature feature is still under development. Use at your own risk.
    Your Account
    - if @federation.present?
      %br
      #federation.address
        = @federation
    %br
    .address
      = session[:address]
    %br
    #sign-transaction-form
    = javascript_pack_tag 'sign_transaction_form'
    #progressbar
      .progress-label
        Processing. Please Wait...
    #st-transaction
%script{src: "https://cdnjs.cloudflare.com/ajax/libs/stellar-sdk/0.8.0/stellar-sdk.min.js"}
