#success-card
  .card
    .card-header
      .success
        %h1 SUCCESS!
    .card-body.text-center
      %big
        = params[:message]
      %br
      Check Transaction History
      %br
      OR
      %br
      View the Transaction Details at
      %br
      = link_to params[:transaction_url], "#{params[:transaction_url]}"
