.card#transfer-assets-card
  .card-header
    %h1 Send Lumens/Assets
  .card-body
    From Account
    %br
    .address
      = session[:address]
    %hr
    = render partial: "shared/transfer_assets_form"

%script{src: "https://cdnjs.cloudflare.com/ajax/libs/stellar-sdk/0.8.0/stellar-sdk.min.js"}

:javascript
  $(document).ready(function() {
    var selectedValue = $(this).val()
    var asset_code = selectedValue.split(',')[0].replace(/\s/g,'')

    $.ajax({
      method: "GET",
      url: "/get_balance",
      data: {code: "XLM"}
    }).done(function(result) {
      $("#available-balance").text(result + " Lumens")
    })
  })
  
  
  $('#asset-type').change(function() {
    var selectedValue = $(this).val()
    var asset_code = "XLM"
    if (selectedValue != "Lumens") {
      asset_code = selectedValue.split(',')[0].replace(/\s/g,'')
    }

    $.ajax({
      method: "GET",
      url: "/get_balance",
      data: {code: asset_code}
    }).done(function(result) {
      $("#available-balance").text(result + " " + asset_code)
    })
  })
  
  $("input[name=memotype]").click(function() {
    $("#memo").prop("disabled", false)
  })

  $('#send_money').click(function(event) {    
    if ($("#fund-new-chk").is(":checked")) {
      fund_new_account()
    } else {
      send_money()
    }
    
  }) // btn click end
