-# LICENSE
-#
-# MIT License
-#
-# Copyright (c) 2017-2018 Cryptomover
-#
-# Permission is hereby granted, free of charge, to any person obtaining a copy
-# of this software and associated documentation files (the "Software"), to deal
-# in the Software without restriction, including without limitation the rights to
-# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
-# of the Software, and to permit persons to whom the Software is furnished to do
-# so, subject to the following conditions:
-#
-# The above copyright notice and this permission notice shall be included in all
-# copies or substantial portions of the Software.
-#
-# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
-# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
-# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
-# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
-# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
-# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
-# THE SOFTWARE.
-#
.card#transfer-assets-card{"data-assets": @assets.to_json, "data-address": @address.to_json}
  .card-header
    %h1 Send Lumens/Assets
  .card-body
    From Account
    - if @federation.present?
      %br
      #federation.address
        = @federation
    %br
    .address
      = @address
    %br
    .alert.alert-warning.mt-1
      %b
        WARNING!
      %br
      Make sure you are transferring the Stellar Assets to correct Stellar Account.
      %br
      We are in no way responsible for any loss occurred due to any unexpected server software behaviour or wrong account address.
    %hr
    #transfer-assets-form
    = javascript_pack_tag 'send_assets'
    #ct-send-assets

%script{src: "https://cdnjs.cloudflare.com/ajax/libs/stellar-sdk/0.8.0/stellar-sdk.min.js"}
