-# LICENSE
-#
-# MIT License
-#
-# Copyright (c) 2017-2018 Cryptomover
-#
-# Permission is hereby granted, free of charge, to any person obtaining a copy
-# of this software and associated documentation files (the "Software"), to deal
-# in the Software without restriction, including without limitation the rights to
-# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
-# of the Software, and to permit persons to whom the Software is furnished to do
-# so, subject to the following conditions:
-#
-# The above copyright notice and this permission notice shall be included in all
-# copies or substantial portions of the Software.
-#
-# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
-# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
-# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
-# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
-# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
-# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
-# THE SOFTWARE.
-#
#transactions-card{"data-address": @address.to_json}
  .card
    .card-header
      .row
        .col-md-3.text-left
          %h1 Transactions
        .col-md-9.right-col.mt-3
          .address
            = @address
    .card-body
      #history-nav
      = javascript_pack_tag 'transactions_history'
      -# .prev
      -#     %button{class: "btn btn-brown", id: "prev-btn", "data-prev": @prev_cursor} << Prev
      -#   .first
      -#     %button{class: "btn btn-brown", id: "first-btn"} First
      -#   .last
      -#     %button{class: "btn btn-brown", id: "last-btn"} Last
      -#   .next
      -#     %button{class: "btn btn-brown", id: "next-btn", "data-next": @next_cursor} Next >>
      -# .table-responsive
      -#   %table#transactions-tbl.table.table-striped.table-sm
      -#     %thead
      -#       %tr
      -#         %th Transaction ID
      -#         %th Time
      -#         %th Type
      -#         %th Asset Code
      -#         %th From
      -#         %th To
      -#         %th Amount
      -#       %tbody
      -#         - @transactions.each do |transaction|
      -#           %tr
      -#             %td
      -#               = transaction['id']
      -#             %td
      -#               = transaction['created_at']
      -#             %td
      -#               = transaction['type']
      -#             %td
      -#               = transaction['asset_code'] || 'XLM'
      -#             %td.short-address
      -#               = transaction['from']
      -#             %td.short-address
      -#               = transaction['to']
      -#             %td
      -#               = transaction['amount']

:javascript
  $("#transactions-tbl").on("click", ".short-address", function() {
    $(this).css("maxWidth", "100%")
  })
  
  //$("#next-btn").click(function() {
  //  console.log("next...")
  //  var cursor = $(this).data("next")
  //  document.location.href = '/transactions?cursor='+ cursor
  //})
  //$("#prev-btn").click(function() {
  //  console.log("prev...")
  //  var cursor = $(this).data("prev")
  //  document.location.href = '/transactions?order=asc&cursor='+ cursor
  //})
  //$('#first-btn').click(function() {
  //  document.location.href = '/transactions'
  //})
  //$('#last-btn').click(function() {
  //  document.location.href = '/transactions?order=asc'
  //})
