.card#trust-asset-card
  .card-header
    .row
      .col-md-6.text-left
        %h1 Trust Asset
      .col-md-6.browse-assets-btn-container.mt-2
        %button{class: "btn btn-brown", id: "browse-assets"} Browse All Assets
  .card-body
    .form-group
      .form-label
        Your Lumens Balance:
        %span
          = @lumens_balance
    .form-group
      .form-label
        Public Key 
      %input.form-control{id: "source-account", value: session[:address], disabled: true, type: "text"}
    .form-group
      .form-label
        Secret Seed
      %input.form-control{id: "secret-seed", type: "password", value: session[:seed]}
    .form-group
      .form-label
        Asset Code
      %input.form-control{id: "asset-code", required: true, type: "text", value: params[:asset_code]}/
    .form-group
      .form-label
        Asset Issuer
      %input.form-control{id: "asset-issuer", required: true, type: "text", value: params[:asset_issuer]}/
    .form-group
      .form-label
        Limit (Optional)
      %input.form-control{id: "limit", required: true, type: "number"}/
    %hr
    .fee-prompt.mb-2.mt-2
      Stellar Network charges a transaction fee of 0.00001 XLM for each transaction
    .container-fluid
      .row
        .col-md-12.text-center
          #progressbar
            .progress-label
              Processing. Please Wait...
        .col-md-12
          .text-right
            %button{type: "button", class: "btn btn-danger", id: "trust-btn"} Trust Asset
            = link_to "Cancel", root_path, class: "btn btn-brown", id: "cancel-btn"

%script{src: "https://cdnjs.cloudflare.com/ajax/libs/stellar-sdk/0.8.0/stellar-sdk.min.js"}

:javascript
  $("#browse-assets").click(function() {
    document.location.href = '/assets'
  })
  
  function hide_form_controls(){
    $('#secret-seed').prop("disabled", true)
    $('#asset-code').prop("disabled", true)
    $('#asset-issuer').prop("disabled", true)
    $('#limit').prop("disabled", true)
    $('#trust-btn').hide()
    $('#cancel-btn').hide()
  }

  $('#trust-btn').click(function(){
    hide_form_controls()
    progressbar()
    var assetCode = document.getElementById('asset-code').value
    var assetIssuer = document.getElementById('asset-issuer').value
    var limit = document.getElementById('limit').value
    var sourcePublicKey = document.getElementById('source-account').value
    var sourceSecretKey = document.getElementById('secret-seed').value

    if (assetCode && assetIssuer && sourcePublicKey && sourceSecretKey) {
      $("#layout-alert").hide()
      trustAssets(assetCode, assetIssuer, limit, sourcePublicKey, sourceSecretKey)
    } else {
      $("#layout-alert").show()
      $("#layout-alert").html("All fields are compulsory.")
    }
  })

