.transactionbox
  .ibox
    .ibox-title
      %h1 Trust Asset
    .ibox-content
      .form-group
        .form-label
          Source Account
        %input.form-control{id: "source-account", value: session[:address], disabled: true, type: "text"}
      .form-group
        .form-label
          Asset Code
        %input.form-control{id: "asset-code", placeholder: "Asset Code", required: true, type: "text"}/
      .form-group
        .form-label
          Asset Issuer
        %input.form-control{id: "asset-issuer", placeholder: "Asset Issuer", required: true, type: "text"}/
      %hr
      .container-fluid
        .row
          .col.text-center
            #progressbar
              .progress-label
                Processing. Please Wait...
          .col
            .text-right
              %button{type: "button", class: "btn btn-danger", id: "btn-trust"} Trust Asset
              = link_to "Cancel", root_path, class: "btn btn-primary", id: "cancel-btn"

%script{src: "https://cdnjs.cloudflare.com/ajax/libs/stellar-sdk/0.8.0/stellar-sdk.min.js"}
  
:javascript
  //$(document).ready(function() {
    console.log("trusting...")
    var server = new StellarSdk.Server('https://horizon.stellar.org')

    var asset = new StellarSdk.Asset("HKDC","GA4BYMUO5D7OLGVJWZ2D5FCWU7SB63FNZ4QUU574SMNA6ELK5TZD3SO3")

    // var sourcePublicKey = "GATEULHQJHKOF5VJNIDA2E4EDSLUEMPK4BVLKPLMMLJ57JGTII7VU4ZG"
    var sourcePublicKey = "GDZP53LPGV4LGIZVTIPDIYL2N6VC6YYUBSJE66AZTNC77F6K2CN3K4OO"

    // var sourceSecretKey = "SCKQPIDJ2EPMBHJGYMBDLBWTGQZTZIM3MMCP7NFLIPGM6YZBHFAKFFPI"
    var sourceSecretKey = "SDGUGBQXE6KPGRULOF3CSZLQX7UUAYVERLHHTLXC626357P5KPBGFUIU"

    var sourceKeypair = StellarSdk.Keypair.fromSecret(sourceSecretKey)
    // var sourceKeypair = StellarSdk.Keypair.fromPublicKey(sourcePublicKey)

    console.log(asset)

   // StellarSdk.Network.usePublicNetwork()

    //server.loadAccount(sourcePublicKey)
    .then(function(account){
      var transaction = new StellarSdk.TransactionBuilder(account)
        .addOperation(StellarSdk.Operation.changeTrust({
          asset: asset,
          limit: '1000'
        }))
      //  .build();

      console.log("signining")
      //transaction.sign(sourceKeypair)

      console.log("submitting")
      //server.submitTransaction(transaction)
        .then(function(result){
          console.log("Result = ")
          console.log(result)
        })
        .catch(function(err) {
          console.log("ERROR")
          console.log(err)
        })
    })
    .catch(function(error){
      console.log('ERROR!', error)
    })
  //})

