/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree "." 
 *= require_self
 *= stub 'dashboard'
 */
html {
    position: relative;
    min-height: 100%;
}

body {
    //margin-bottom: 100px;
    min-height: 100%;
    position: absolute;
}
.navbar {

}

#content {
    height: 100%;
}

#page-content {
    min-height: 100% !important;
}

.page-navbar-color {
    height: 80px;
    background-color: #033333;
}

.logo-display {

}

#home-index {
    text-align: center;
    font-family: "Arial"
}

#header-text {
}

#header-title {
    line-height: 1;
    margin-top: 10px;
    font-size: 60px;
    font-weight: bold;
    @media(max-width: 360px) {
        font-size: 40px;
        font-weight: nolmal;
    }
}

#header-portfolio {
    margin-top: 50px;
    @media(max-width: 980px) {
        margin: 30px 0 30px 0;
    }
}

.home_btns {
    @media(max-width: 980px) {
        text-align: center;
        margin-top: 25px;
    }
}

.home_text {
    margin-top: 30px;
    @media(max-width: 980px) {
        text-align: center;
    }
}

.navbar-brand {
    margin-top: -20px;
}

.logo-scrolled {
    width: 270px;
    height: 80px;
    // margin-top: -15px;
    @media(max-width: 980px) {
        margin-left: -13px;
        margin-top: -20px;
        width: 230px;
        height: 60px;
    }
}

.logo-display {
    width: 270px;
    height: 80px;
}

#intro-video {

}

.positive-change {
    color: lime;
}

.negative-change {
    // color: #ff4050;
    color: orangered;
}

.section-title {
    font-size: 100px;
    font-weight: bold;
}

.text-green {
    color: green;
}

.btn-get-tokens {
    border: 2px solid;
    border-color: darkgrey;
    background-color: #E7FF6E;
    color: darkgrey;
    padding:1rem 2rem;
    border-radius: 0;
    font-weight: bold;
    font-size: 20px;
}

.btn-get-token {
    @extend .btn-get-tokens;
    border: none;
    font-weight: normal;
    text-transform: lowercase;
    color: black;
}
.btn-get-token:first-letter {
    text-transform: uppercase;
}

#get-token {
    background-color: lightgrey;
}

.get-token-title {
    padding-top: 70px
}

.get-token {
    background-color: #F0F0F0;
    border: 1px solid black;
    padding: 30px 0 50px 0;
    width: 50%;
    margin-bottom: 70px;
}

.center-table
{
    margin: 0 auto;
    float: none;
}
