/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree "." 
 *= require_self
 *= stub 'dashboard'
 */
html {
    position: relative;
    min-height: 100%;
}
body {
    //margin-bottom: 100px;
    min-height: 100%;
    position: absolute;
}
.navbar {

}
#content {
    height: 100%;
}
#page-content {
    min-height: 100% !important;
}
.page-navbar-color {
    height: 80px;
    background-color: #033333;
}
.logo-display {

}
#home-index {
    text-align: center;
    font-family: "Arial"
}
#header-text {
}
#header-title {
    line-height: 1;
    margin-top: 10px;
}
#header-portfolio {
}
.home_text {
    margin-top: 30px;
}
.navbar-brand {
    margin-top: -20px;
}
.logo-scrolled {
    width: 270px;
    height: 80px;
    // margin-top: -15px;
    @media(max-width: 360px) {
        margin-left: -13px;
    }
}
.logo-display {
    width: 270px;
    height: 80px;
}
#intro-video {
}
