// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#page-content {
    min-height: 100% !important;
}

.page-navbar-color {
    height: 80px;
    background-color: #033333;
}

.logo-display {

}
#hello {
    font-family: "Raleway"
}

#hello a:link    { color: white };  /* unvisited links */
#hello a:visited { color: white };  /* visited links   */
#hello a:hover   { color: white };  /* user hovers     */
#hello a:active  { color: white };  /* active links    */

#home-index {
    @media(min-width: 640px) {
        margin-top: 0;
    }
    @media(min-width: 980px) {
        margin-top: 30px;
    }
    text-align: center;
    font-family: "Arial";
    margin-top: 10px;
}

#header-text {
}

#header-title {
    @media(min-width: 320px) {
        font-size: 20px;
        margin-top: 10px;
    }
    @media(min-width: 360px) {
        font-size: 24px;
        padding: 0 5px 0 5px;
        margin: 0;
    }
    @media(min-width: 640px) {
        margin-top: 10px;
        font-size: 39px;
    }
    font-weight: normal;
    line-height: 1;
}

#header-portfolio {
    font-size: 20px;
    //margin: 30px 0 20px 0;
    @media(min-width: 320px) {
        margin: 15px 0 7px 0;
        font-size: 15px;
    }
    @media(min-width: 640px) {
        margin: 20px 0 15px 0;
        font-size: 17px;
    }
    @media(min-width: 980px) {
        margin: 30px 0 0 0;
    }
}

.home_btns {
    text-align: center;
    @media(max-width: 980px) {
        text-align: center;
        margin-top: 25px;
    }
}

.home_text {
    text-align: center;
    @media(min-width: 320px) {
        margin-top: 15px;
    }
    @media(min-width: 640px) {
        margin-top: 25px;
    }
    @media(min-width: 980px) {
        margin-top: 30px;
    }
}

#intro-video {

}

.positive-change {
    color: lime;
}

.negative-change {
    // color: #ff4050;
    color: orangered;
}

.section-title {
    @media(min-width: 320px) {
        font-size: 40px;
    }
    @media(min-width: 360px) {
        font-size: 49px;
    }
    @media(min-width: 640px) and (max-width: 970px) {
        font-size: 89px;
    }
    @media(min-width: 980px) {
       font-size: 100px;
    }
   font-weight: bold;
}

.text-green {
    color: green;
}

.btn-get-tokens {
    margin: 20px 0 50px 0;
}

.btn-get-token {
    @extend .btn-get-tokens;
    border: none;
    font-weight: normal;
    text-transform: lowercase;
    color: black;
}
.btn-get-token:first-letter {
    text-transform: uppercase;
}

#get-token {
    // background-color: lightgrey;
}

.get-token-title {

}

.get-token {
    background-color: #F0F0F0;
    border: 1px solid black;
    padding: 30px 0 50px 0;
    margin-bottom: 70px;
    @media(min-width: 320px) {
        width: 100%;
    }
    @media(min-width: 980px) {
        width: 50%;
    }
}

#about {
    .section-title {
        color: #605E5E;
    }
}

.separator_about{
    width:85px;
    height:2px;
    margin:20px auto;
    background: #605E5E;
}

#press-release {
    @media(min-width: 320px) {
        line-height: 1.5;
    }
    @media(min-width: 640px) {
        p {
            line-height: 3;
        }
    }
    .head_title {
        padding: 0;
    }
}

#press-release-items {
    width: 70%;
    margin-bottom: 70px;
}

#subscribe {
    padding: 50px 0 50px 0;
}

.coin-title {
    @media(min-width: 320px) {
        font-size: 14px;
    }
    @media(min-width: 640px) {
        font-size: 15px;
    }
    @media(min-width: 980px) {
        font-size: 20px;
    }
}

.coin-value, .coin-change {
    @media(min-width: 320px) {
        font-size: 13px;
    }
    @media(min-width: 640px) {
        font-size: 15px;
    }
    @media(min-width: 980px) {
        font-size: 17px;
    }
}

.new-to-wrapper {
    @media(min-width: 320px) {
        margin-top: 10px;
    }
    @media(min-width: 360px) {
        margin-top: 20px;
    }
    @media(min-width: 980px) {
        margin-top: 30px;
    }
}

.new-to {
    @media(min-width: 320px) {
        font-size: 13px;
        margin-top: 10px;
    }
    @media(min-width: 360px) {
        font-size: 14px;
        margin-top: 15px;
    }
    @media(min-width: 980px) {
        font-size: 17px;
        margin-top: 0;
    }
}

.service_item {
    @media(min-width: 320px) {
        font-size: 13px;
        margin-top: 15px;
    }
    @media(min-width: 980px) {
        margin-top: 0;
    }
}

.index-title {
  @media(min-width: 320px) {
    margin-top: 0;
  }
  @media(min-width: 980px) {
    margin-top: 30px;
  }
}
